body {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    padding: 0;
    background-color: #f5f0f0;
}

.header {
    background-color: rgb(255, 255, 255);
}

.topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #606ff5;
    justify-content: space-between;
    width: 40%;
    text-decoration: none;
    padding-top: 2%;
    padding-left: 2%;
}

.ham {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 2%;
    padding-right: 3%;
    float: right;
    width: 20%;
    height: 100%;
    cursor: pointer;
}

.desktop {
    display: none;
}

.modalcontainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #3d56e4;
    opacity: 0.9;
    z-index: 2;
    display: none;
}

.ruby {
    display: none;
}

ul li .ruby {
    display: none;
}

.last li {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
}

.modal ul li a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-size: 2.25rem;
    line-height: 1rem;
    justify-content: space-between;
}

.modal ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 40%;
    cursor: pointer;
}

.times {
    font-size: 3rem;
    position: absolute;
    float: right;
    width: 100%;
    padding: 5%;
    padding-left: 80%;
    cursor: pointer;
    color: #fff;
}

.subcontainer {
    display: none;
}

.shapes {
    position: relative;
    margin-top: 50vh;
}

.section1 {
    background-image: url(./Images/header-shapesmobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 105%;
    background-color: #fff;
    border-bottom-left-radius: 10%;
    padding: 0;
}

.primarytext {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.25rem;
    display: flex;
    align-items: center;
    color: #172b4d;
    padding: 7%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.subtext {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #344563;
    padding: 7%;
    padding-top: 0;
    margin: 0;
}

.socialmedia {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #7f8cff;
}

.mediaicons ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 40%;
    height: 10%;
}

.listportfolio {
    display: -ms-grid;
    display: grid;
    padding-left: 5%;
    justify-content: space-between;
}

.leftblock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 4%;
}

.snapshot1 img {
    width: 100%;
    height: 100%;
}

.snapshot2 {
    display: none;
}

.canopy1 {
    display: none;
}

.roletext1 {
    display: none;
}

.tonicsd {
    display: none;
}

.yr1 {
    display: none;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 90%;
    height: 98%;
    background: #fff;
    border: 0.0625rem solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1.25rem;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 90%;
    height: 98%;
    background: #fff;
    border: 0.0625rem solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1.25rem;
}

.card3 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 90%;
    height: 98%;
    background: #fff;
    border: 0.0625rem solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1.25rem;
}

.card4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 98%;
    background: #fff;
    border: 0.0625rem solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1.25rem;
}

.tonics {
    font-family: " Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    color: #172b4d;
    margin: -1%;
    padding: 0;
}

.frame1 ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    margin-left: -7%;
}

.roletext {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1rem;
    color: #7a869a;
}

.yr {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1rem;
    color: #7a869a;
}

.canopy {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1rem;
    color: #344563;
}

.counter {
    margin-top: 0.9375rem;
}

.shape {
    margin-top: 40%;
}

.daily {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #344563;
}

.tags ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

.tags ul li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: #6070ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 0.75rem;
    width: 3.3125rem;
    height: 1.5rem;
    background: #ebebff;
    border-radius: 0.5rem;
    margin-bottom: 10%;
}

.see {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.0625rem;
    color: #040918;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.07em;
    background-color: transparent;
    border: 0.0625rem;
    border-style: solid;
    border-color: #000;
    border-radius: 0.5rem;
    width: 8.25rem;
    height: 2.5rem;
    margin-top: 0;
}

.see:hover {
    background-color: #2017a0;
    color: #fff;
}

.see:active {
    background-color: rgb(0, 1, 5);
    transition: 0.5s;
    color: #fff;
}

.see::after {
    background-color: rgb(7, 21, 148);
}

.see:disabled {
    color: #6b7f81;
}

.btntextt {
    width: 8rem;
    height: 3rem;
    color: #000;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    background: #fff;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #000107;
    align-content: center;
    margin-top: 5%;
}

.btntextt:hover {
    background-color: #000;
    color: #fff;
    border: none;
}

.btntextt:active {
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    color: #fff;
    border: none;
}

.btntextt::after {
    background-color: rgb(7, 21, 148);
}

.btntextt:disabled {
    color: #6b7f81;
}

.about {
    width: 95%;
    height: 100%;
    background-color: #fff;
    border-radius: 2%;
    margin-left: 0%;
}

.langcontainer {
    height: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    color: #000;
    margin-left: 2%;
    flex-direction: row;
    align-content: center;
    margin-top: 2%;
}

.framecontainer {
    height: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    color: #000;
    margin-left: 2%;
    flex-direction: row;
    align-content: center;
    margin-bottom: 2%;
}

.skillscontainer {
    height: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    color: #000;
    margin-left: 2%;
    margin-bottom: 3%;
}

.arrow1 {
    width: 0.35rem;
    height: 1.25rem;
}

.cont7 {
    width: 100%;
    height: 100%;
    background-color: #6070ff;
    background-image: url(./Images/contactshapes-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-color: #dfe1e6;
    border-top-left-radius: 3.5rem;
    margin-top: 3%;
    margin-left: 0;
    padding-top: 5.5rem;
}

.forms {
    width: 100%;
    height: 50%;
    border: none;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
    height: 2.5rem;
    border-style: solid;
    border-color: #7f8cff;
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

textarea {
    background: #fff;
    border: 0.0625rem solid #cfd8dc;
    border-radius: 0.5rem;
}

.contact {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

.contact h3 {
    margin: 0;
    padding: 0;
}

.context {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: #ebebff;
    margin-top: 1%;
    padding: 0;
    width: 100%;
}

.context p {
    margin: 0;
    padding-bottom: 5%;
}

.resumetext {
    width: 8.75rem;
    height: 3rem;
    background: #fff;
    border-radius: 0.5rem;
    border: none;
    align-content: center;
    margin-top: 5%;
}

.resumetext:hover {
    background-color: #0c0566;
    color: #fff;
}

.resumetext:active {
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    color: #fff;
}

.resumetext::after {
    background-color: rgb(7, 21, 148);
}

.resumetext:disabled {
    color: #6b7f81;
}

@media screen and (min-width: 993px) {
    body {
        margin: 0;
        padding: 0;
    }
    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #ebeef3;
        margin-top: 0;
    }
    .desktop li a {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        color: #6070ff;
    }
    .topNav {
        position: fixed;
        height: 7%;
        width: 98%;
        display: flex;
        justify-content: space-between;
        border-bottom-right-radius: 1.25rem;
        border-bottom-left-radius: 1.25rem;
        border: #d6d9f7;
        background-color: #fff;
        margin-left: 0.5%;
    }
    .logo {
        font-size: 1.5rem;
        color: #6070ff;
        padding: 2%;
    }
    .logo:hover {
        font-size: 3.75rem;
    }
    .ham img {
        display: none;
    }
    .desktop {
        display: flex;
        width: 20%;
        text-decoration: none;
        list-style-type: none;
        justify-content: space-around;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.9375rem;
        line-height: 1.25rem;
        align-items: center;
        text-align: center;
        color: #344563;
    }
    .modal {
        visibility: hidden;
    }
    .modalcontainer {
        visibility: hidden;
    }
    .section1 {
        background-image: url(./Images/Header\ bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #fff;
        width: 100%;
        height: 57.25rem;
        border-bottom-left-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iamtext {
        width: 48%;
        height: 25%;
        padding: 10%;
        padding-left: 30%;
        animation-duration: 2s;
        animation-name: slidein;
    }
    .listportfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card1 {
        display: flex;
        flex-direction: row;
        height: 75%;
        width: 70%;
        background: #fff;
        border: 0.0625rem solid#DFE1E6;
        border-radius: 1.5rem;
        margin-top: 8.875rem;
        justify-content: space-between;
    }
    .card1:hover {
        border-style: solid;
        border-color: #1a2697;
        cursor: pointer;
        border: 0.125rem;
    }
    .card2 {
        height: 80%;
        width: 70%;
        display: flex;
        flex-direction: row-reverse;
        background: #fff;
        border: 0.0625rem solid rgb(255, 255, 255);
        border-radius: 1.5rem;
        margin-top: 7.875rem;
        padding: 0;
        justify-content: space-between;
    }
    .card2:hover {
        border-style: solid;
        border: 0.125rem;
        border-color: #1a2697;
        cursor: pointer;
    }
    .card3 {
        height: 80%;
        width: 70%;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: row;
        background: #fff;
        border: 0.0625rem solid#DFE1E6;
        margin-top: 7.875rem;
        justify-content: space-between;
    }
    .card3:hover {
        border-style: solid;
        border-color: #14229b;
        border: 0.125rem;
        cursor: pointer;
    }
    .card4 {
        height: 80%;
        width: 70%;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: row-reverse;
        background: #fff;
        border: 0.0625rem solid #dfe1e6;
        margin-top: 7.875rem;
        justify-content: space-between;
    }
    .card4:hover {
        border-style: solid;
        border-color: #1a2697;
        border: 0.125rem;
        cursor: pointer;
    }
    .mediaicons ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        width: 40%;
        height: 10%;
    }
    .leftblock {
        padding-left: 4%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .tonics {
        display: none;
    }
    .tonic {
        width: 60%;
        margin-left: -3%;
    }
    .canopy1 {
        display: block;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8125rem;
        line-height: 1rem;
        color: #344563;
    }
    .canopy {
        display: none;
    }
    .roletext1 {
        display: block;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8125rem;
        line-height: 1rem;
        color: #7a869a;
    }
    .roletext {
        display: none;
    }
    .tonicsd {
        display: block;
        font-family: " Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2rem;
        color: #172b4d;
        margin: 0%;
        padding: 0;
        width: 100%;
    }
    .frame1 {
        margin-left: 6%;
    }
    .tags ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: space-between;
        width: 100%;
        margin-left: -5%;
    }
    .tags ul li {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 0.6rem;
        line-height: 1rem;
        letter-spacing: 0.03em;
        color: #6070ff;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.25rem 0.75rem;
        width: 3.3125rem;
        height: 1.5rem;
        background: #ebebff;
        border-radius: 0.5rem;
        margin: 5%;
    }
    .snapshot1 img {
        width: 100%;
        height: 100%;
    }
    .snapshot2 {
        display: none;
    }
    .about {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 100%;
        height: 50%;
        margin-top: 5%;
        border-radius: 15%;
    }
    .aboutcontainer {
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    .subcontainer1 {
        display: none;
    }
    .subcontainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #fff;
        padding: 5%;
    }
    .lastd {
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 50%;
    }
    .partone1 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .iamtext2 {
        width: 48%;
        height: 25%;
        padding: 5%;
    }
    .btntextt {
        width: 10.75rem;
        height: 3rem;
        color: #000;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        background: #fff;
        border-radius: 0.5rem;
        border-style: solid;
        border-color: #2334f0;
        align-content: center;
        margin-top: 5%;
    }
    .btntextt:hover {
        background-color: #000;
        color: #fff;
        border: none;
    }
    .btntextt:active {
        background-color: rgb(0, 0, 0);
        transition: 0.5s;
        color: #fff;
    }
    .btntextt::after {
        background-color: rgb(7, 21, 148);
    }
    .btntextt:disabled {
        color: #6b7f81;
    }
    .languages {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        background: #fff;
        border-radius: 0.5rem;
        width: 20rem;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.0625rem;
        line-height: 1.5rem;
        margin-bottom: 0;
    }
    .languages:hover {
        background-color: #6070ff;
    }
    .langcontainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .frameworks {
        display: flex;
        flex-direction: row;
        background: #fff;
        border-radius: 0.5rem;
        width: 20rem;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.0625rem;
        line-height: 1.5rem;
    }
    .frameworks:hover {
        background-color: #396df2;
    }
    .framecontainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .subs {
        margin: 0;
        width: 100%;
    }
    .skills {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        background: #fff;
        border-radius: 0.5rem;
        width: 20rem;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.0625rem;
        line-height: 1.5rem;
    }
    .skillscontainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .cont7 {
        width: 100%;
        height: 100%;
        background-color: #6070ff;
        background-image: url(./Images/contact\ form\ background\ shapes.svg);
        background-size: contain;
        background-repeat: no-repeat;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-style: solid;
        border-color: #dfe1e6;
        border-top-left-radius: 12.5rem;
        margin-top: 0;
        margin-left: 0;
        padding-top: 7.5rem;
    }
    .forms {
        width: 100%;
        height: 50%;
        border: none;
        border-radius: 0.625rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input {
        width: 100%;
        height: 2.5rem;
        border-style: solid;
        border-color: #7f8cff;
        border-radius: 0.3125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    textarea {
        background: #fff;
        border: none;
        border-radius: 0.5rem;
        width: 27.9375rem;
        height: 10.625rem;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
    }
    .contact {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 3.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        margin: 0;
        padding: 0;
    }
    .contact h3 {
        margin: 0;
        padding: 0;
    }
    .context {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-align: center;
        color: #ebebff;
        margin-top: 1%;
        padding: 0;
        width: 50%;
    }
    .context p {
        margin: 0;
        padding-bottom: 5%;
    }
    .shape {
        display: none;
    }
    .resumetext {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.0625rem;
        color: #000;
        line-height: 1.5rem;
        text-align: center;
        letter-spacing: 0.07em;
        background-color: #fff;
        border: 0.0625rem;
        border-style: solid;
        border-color: #061b92;
        border-radius: 0.5rem;
        width: 11.25rem;
        height: 2.5rem;
        margin-top: 3%;
    }
    .resumetext:hover {
        background-color: #000;
        color: #fff;
    }
    .resumetext:active {
        background-color: rgb(7, 21, 148);
        transition: 0.5s;
        color: #fff;
    }
    .resumetext::after {
        background-color: rgb(7, 21, 148);
    }
    .resumetext:disabled {
        color: #6b7f81;
    }
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 10%;
        }
        to {
            margin-left: 0%;
            width: 100%;
        }
    }
    button {
        color: black;
        font-size: 17px;
    }
    button:active {
        border: none;
    }
}